
{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static 'rubrics/view/rubric_editor.css' %}">

{% endblock stylesheets %}

{% block javascript %}

<script src="{% static 'rubrics/view/rubric_editor.js' %}"></script>

{% endblock javascript %}

{% block content %}

<h1 class="w3-xxxlarge w3-text-red" style="margin: 2%;"><b>Ficha de rúbrica</b></h1>

{% include "rubrics/table_form.html" %}


<form action="{% url 'Rubrics Page' %}" method="GET">
  {% csrf_token %}
  <button class="w3-quarter"> Volver </button>
</form>


<form id="delete-form" action="{% url 'rubrics:delete' pk=rubrica_id %}" method="POST">
  {% csrf_token %}
  <button id="delete-rubric" type="button" class="w3-quarter btn-danger"> Eliminar tabla </button>
</form>

{% endblock content %}
