
{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static 'rubrics/view/rubric_editor.css' %}">

{% endblock stylesheets %}

{% block javascript %}


{% endblock javascript %}

{% block content %}

<h1 class="w3-xxxlarge w3-text-red" style="margin: 2%;"><b>Ficha de rúbrica</b></h1>

  <div class="w3-third w3-container">
    <h2 class="w3-xxlarge w3-text-red">
      <div> {{ name_form.name.value}}</div>
    </h2>
  </div>

  <div class="w3-container">
    <div class="w3-third w3-left w3-panel w3-margin-bottom w3-card-2 w3-left w3-padding-16"> <h5 class="w3-center"> Puntaje: <i id='puntaje'> </i></span> 7.0 </h5>
      </div>
    <div class="w3-half w3-container w3-panel w3-margin-bottom w3-card-2 w3-right w3-padding-16">
        <div class="w3-half" style="padding-right: 1%;"> <b> Duración mínima (min) </b>{{duration_min}}</div>
        <div class="w3-half"> <b> Duración máxima (min) </b> {{duration_max}}</div>
      </div>
  </div>


  <div class="w3-content table-responsive">
    <table>
      <tr>
        <th> Criterio </th>
        {% for nivel_logro in nlogro_forms %}
        <th>
          <div> {{ nivel_logro.nlogro.value}}</div>
        </th>
        {% endfor %}
      </tr>
      <tbody id="table-rows">
        {% for row in rows_forms %}
        <tr>
          {% for entry in row%}
          <td>
            <div> {{entry.text.value}}</div>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


<form action="{% url 'Rubrics Page' %}" method="GET">
  {% csrf_token %}
  <button class="w3-quarter"> Volver </button>
</form>

{% endblock content %}
