<!DOCTYPE html>
<html lang="es">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    
    {% endblock title %}
    
    <!-- W3School CSS -->
    <link rel="stylesheet" href={% static 'W3School/w3.css' %}>
    
    <!-- Google Poppin Font -->
    <link rel="stylesheet" href={% static 'Poppins-Google-Font/poppins.css' %}>

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href={% static 'fontawesome-free-5.8.1-web/css/all.css' %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}>

    <!-- Base CSS -->
    <link rel="stylesheet" href={% static 'base.css' %}>

    <!-- Navbar CSS -->
    <link rel="stylesheet" href={% static 'navbar/navbar.css' %}>

    {% block stylesheets %}

    {% endblock stylesheets %}

</head>
<body>

    {% include "navbar/navbar.html" %}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main base-content-container">

        {% block content %}

        {% endblock content %}

    </div>

    <!-- Bootstrap's Javascript Dependencies -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src={% static 'jquery-3.3.1/jquery-3.3.1.js' %}></script>
    <script src={% static 'popper-v1/popper.js' %}></script>
    <script src={% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}></script>

    <!-- Fontawesome's Javascript Dependencies-->
    <script src={% static 'fontawesome-free-5.8.1-web/js/all.js' %}></script>

    <!-- JQuery-UI's Javascript Dependencies -->
    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

    <!-- Base Javascript -->
    <script src={% static 'base.js' %}></script>

    <!-- Navbar Javascript -->
    <script src={% static 'navbar/navbar.js' %}></script>

    {% block javascript %}

    {% endblock javascript %}

</body>
