{% extends 'base.html' %}

{% load static %}

{% block title %}

  <title>
    Sistema de Evaluación: Evaluadores
  </title>

{% endblock title %}

{% block stylesheets %}

  <!-- Evaluators CSS -->
  <link rel="stylesheet" href={% static 'users/evaluators.css' %}>

{% endblock stylesheets %}

{% block javascript %}

  <!-- Evaluators JS -->
  <script src={% static 'users/evaluators.js' %}></script>

{% endblock javascript %}

{% block content %}

  <!-- Title -->
  <div class="w3-container evaluators-welcome-message-container" id="portada">
    <h1 class="w3-xxxlarge w3-text-red">
      <b>
        Evaluadores
      </b>
    </h1>
    <hr class="w3-round base-horizontal-rule">
    <p>
      <h3>
        Seleccione un evaluador
      </p>
    </h2>
  </div>

  <!--Cajas evaluadores-->
  <div class="w3-row-padding w3-center w3-margin-top">
      {%for evaluator,id in evaluators%}
      
    <div class="w3-quarter w3-margin-top">
      <button onclick="document.getElementById('info_{{id}}').style.display='block'" class="w3-card w3-container w3-hover-shadow evaluators-evaluator-card">
        <h3>
          {{evaluator.first_name}} {{evaluator.last_name}}
        </h3>
        <br>
        <i class="fas fa-user-alt evaluators-evaluator-icon"></i>
        <p>
          {{evaluator.email}}
      </button>
    </div>

    <div id="info_{{id}}" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom evaluators-evaluator-modal">
        <div class="w3-center">
          <br>
          <span onclick="document.getElementById('info_{{id}}').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">
            ×
          </span>
          <div class="w3-margin">
            <button onclick="document.getElementById('edit_{{id}}').style.display='block'" class="w3-button w3-red w3-section w3-padding:10px" type="submit">
              Modificar
            </button>
            <br>
            <form id="form_{{ id }}" action="{% url 'users:delete' pk=id %}" method="POST">
                {% csrf_token %}
            <button class="w3-button w3-red w3-section w3-padding:10px" type="submit">
              Eliminar
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    
     <div id="edit_{{id}}" class="w3-modal">
        <form method="POST" id="form_{{ id }}" action="{% url 'users:edit' pk=id %}">
            {%csrf_token%}
       <div class="w3-modal-content w3-card-4 w3-animate-zoom evaluators-add-modal">
         <div class="w3-center">
             <br>
             <span onclick="document.getElementById('edit_{{id}}').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">
               ×
             </span>
             <form class="w3-container" action="/action_page.php">
               <div class="w3-section">
                   <label>
                       <b>
                         Nombre
                       </b>
                     </label>
                     <input class="w3-input w3-border w3-margin-bottom form-control" type="text" value={{evaluator.first_name}} name="first_name" id="fn2" required>
                     <label>
                       <b>
                         Apellido
                       </b>
                     </label>
                     <input class="w3-input w3-border form-control" type="text" value={{evaluator.last_name}} name="last_name" id="ln2" required>
                     <label>
                         <b>
                           Correo
                         </b>
                       </label>
                     <input class="w3-input w3-border form-control" type="email" value={{evaluator.email}} name="email" id="email_{{id}}" required>
                     <input type="hidden" type="text" name="username" id="usrnm_{{id}}">
                     <button onclick="edit_User({{id}})" class="w3-button w3-block w3-red w3-section w3-padding" type="submit">
                         Editar
                     </button>
               </div>
             </form>
         </div>
       </div>
      </form>
     </div>
     
   {%endfor%}
    <!--Caja de agregar-->
    <div class="w3-quarter w3-margin-top">
      <button onclick="document.getElementById('agregar').style.display='block'" class="w3-card w3-container w3-light-gray w3-hover-shadow evaluators-add-card">
        <h3>
          Agregar evaluador nuevo
        </h3>
        <br>
        <i class="fas fa-user-plus evaluators-add-icon"></i>
      </button>
    </div>
    


    <form method="POST">
    {%csrf_token%}
    <div id="agregar" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom evaluators-add-modal">
        <div class="w3-center">
          <br>
          <span onclick="document.getElementById('agregar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">
            ×
          </span>
          <form class="w3-container" action="/action_page.php">
            <div class="w3-section">
              <label>
                <b>
                  Nombre
                </b>
              </label>
              <input class="w3-input w3-border w3-margin-bottom form-control" type="text" placeholder="Ingrese nombre" name="first_name" id="fn" required>
              <label>
                <b>
                  Apellido
                </b>
              </label>
              <input class="w3-input w3-border form-control" type="text" placeholder="Ingrese apellido" name="last_name" id="ln" required>
              <label>
                <b>
                  Correo
                </b>
              </label>
              <input class="w3-input w3-border form-control" type="email" placeholder="Ingrese correo" name="email" id="email" required>
              <input type="hidden" type="text" name="password1" id="pss1">
              <input type="hidden" type="text" name="password2" id="pss2">
              <input type="hidden" type="text" name="username" id="usrnm">
              <button onclick="create_User()" class="w3-button w3-block w3-red w3-section w3-padding" type="submit">
                Agregar
              </button>
            </div>
          </form>
        </div>
      </div>
    </form>
      <!--cierre de cajas de cursos-->
  </div>
</div>
  {% for message in messages %}
  <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}

  <script>
    function create_User() {
    var randomstring = Math.random().toString(36).slice(-8);
    document.getElementById("pss1").value=randomstring;
    document.getElementById("pss2").value=randomstring;
    document.getElementById("usrnm").value = document.getElementById("email").value;
  }

function edit_User(id) {
    document.getElementById("usrnm_"+id.toString()).value = document.getElementById("email_"+id.toString()).value;
  }
  </script>
{% endblock content %}