{% extends 'base.html' %}

{% load static %}

{% block title %}

	<title>
		Sistema de Evaluación: Bienvenida
	</title>

{% endblock title %}

{% block stylesheets %}

	<!-- Landing Page CSS -->
	<link rel="stylesheet" href={% static 'users/landing_page.css' %}>

{% endblock stylesheets %}

{% block content %}

	<!-- Portada -->
	<div class="w3-container landing-welcome-message-container" id="portada">
		<h1 class="w3-xxxlarge w3-text-red">
			<b>
				Bienvenido al sistema de evaluación
			</b>
		</h1>
		<hr class="w3-round base-horizontal-rule">
	
		{%for rubric in my_rubrics%}
		<p>
		<div class="w3-threequarter w3-margin-top">
			<button  class="w3-button w3-block w3-khaki" style="width:70%">
			  <h3>
				{{rubric.table|title}}
			  </h3>
			  <br>
			  
			  {%if rubric.status%}
			  <p style="color: green;">
				Abierta
			  </p>
			  {%else%}
			  <p style="color: red">
				Cerrada
			  </p>
			  {%endif%}
			  <button class="w3-btn w3-red">
				Modificar
			  </button>
			</button>
		  </div>
		</p>
		{%endfor%}
		
		</h2>
		
	</div>

{% endblock content %}