{% extends 'base.html' %}

{% load static %}

{% block title %}

	<title>
		Sistema de Evaluación: Bienvenida
	</title>

{% endblock title %}

{% block stylesheets %}

	<!-- Landing Page CSS -->
	<link rel="stylesheet" href={% static 'users/landing_page.css' %}>

{% endblock stylesheets %}

{% block javascript %}

	<!-- Landing Page JS -->
	<script src={% static 'users/landing_page.js' %}></script>

{% endblock javascript %}

{% block content %}
	<!-- Portada-->
	<div class="w3-container landing-welcome-message-container" id="portada">
		<h1 class="w3-xxxlarge w3-text-red">
			<b>
				Bienvenido al sistema de evaluación
			</b>
		</h1>
		<hr class="w3-round base-horizontal-rule">
		<p>
			<h3>
				Seleccione alguna sección para comenzar
			</p>
		</h2>
		<i class="far fa-arrow-alt-circle-left landing-welcome-arrow"></i>
	</div>

{% endblock content %}