.landing-welcome-message-container
{
    margin-top:     300px;
    margin-bottom:  300px
}

.landing-welcome-arrow
{
    font-size:      300%;
}

.landing-bottom-container
{
    margin-top:     50px;
    padding-right:  58px;
}

.landing-contact-container
{
    margin-top:     50px;
}
