{% extends 'base.html' %}

{% load static %}

{% block title %}

  <title>
    Sistema de Evaluación: Evaluaciones
  </title>

{% endblock title %}

{% block stylesheets %}

  <!-- Evaluations CSS -->
  <link rel="stylesheet" href={% static 'evaluations/evaluations.css' %}>

{% endblock stylesheets %}

{% block javascript %}

  <!-- Evaluations JS -->
  <script src={% static 'evaluations/evaluations.js' %}></script>

{% endblock javascript %}

{% block content %}
  
  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red">
      <b>
        Evaluaciones
      </b>
    </h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

  {% if user.is_staff %}
  <div class="w3-container">
    <button class="w3-button w3-large w3-red w3-right w3-round">
      Agregar nueva evaluación
    </button>
    <br>
  </div>
  {% endif %}
  <!--Seccion rubricas-->
  {% if not user.is_staff %}
    {% regroup obj by presentation.evaluation as evaluation_list %}
    {% for evaluation in evaluation_list %}

      <button onclick="myFunction({{ evaluation.grouper.id }})" class="w3-btn w3-red w3-block w3-margin" style="width: 75%">
        <h3>
          {{ evaluation.grouper.course.code }} | {{ evaluation.grouper.id }}
        </h3>
      </button>

      <div id= {{ evaluation.grouper.id }} class="w3-hide w3-container w3-pale-red  w3-padding-large w3-margin"style="width: 75%">
        <table>
        {% for grade in evaluation.list %}
          <tr>
          <td>Grupo: {{ grade.student.name }}</td>
          {% if grade.state %}
            <td>Contestada </td>
            <td><button class="w3-button w3-large w3-red w3-margin-left w3-round">Modificar</button> </td>
            {% else %}
            <td>No contestada </td>
            <td><button class="w3-button w3-large w3-red w3-margin-left w3-round">Contestar</button> </td>
            {% endif %}
          </tr>
        {% endfor %}
        </table>
      </div>

    {% endfor %}
  {% endif %}
  <button onclick="myFunction('Demo3')" class="w3-btn w3-red w3-block w3-margin" style="width: 75%"><h3>
    Evaluación 1</h3></button>

  <div id="Demo3" class="w3-hide w3-container w3-pale-red  w3-padding-large w3-margin"style="width: 75%">

    <p><li>Curso: -</li>
      <li>Fecha inicio: -</li>
      <li>Fecha término: -</li>
      <button class="w3-button w3-white w3-border w3-border-red w3-round-large">Rúbrica asociada</button>
    <button class="w3-button w3-white w3-border w3-border-red w3-round-large">Exportar puntajes</button><br>
  </p>

    <button class="w3-button w3-large w3-red w3-round">Ver</button>
    <button class="w3-button w3-large w3-red w3-margin-left w3-round">Modificar</button>
    <button class="w3-button w3-large w3-red w3-right w3-round">Eliminar</button>
  </div>

  <button onclick="myFunction('Demo4')" class="w3-btn w3-red w3-block w3-margin" style="width: 75%"><h3>
      Evaluación 2</h3></button>

  <div id="Demo4" class="w3-hide w3-container w3-pale-red w3-padding-large w3-margin"style="width: 75%">
    <p><li>Curso: -</li>
      <li>Fecha inicio: -</li>
      <li>Fecha término: -</li>
      <button class="w3-button w3-white w3-border w3-border-red w3-round-large">Rúbrica asociada</button>
    <button class="w3-button w3-white w3-border w3-border-red w3-round-large">Exportar puntajes</button><br>
  </p>
    <button class="w3-button w3-large w3-red w3-round">Ver</button>
    <button class="w3-button w3-large w3-red w3-margin-left w3-round">Modificar</button>
    <button class="w3-button w3-large w3-red w3-right w3-round">Eliminar</button>
  </div>

{% endblock content %}